/* ヘッダー全体のスタイル */
header {
  color: #000000; /* ヘッダーのテキストカラー */
  padding: 20px 0; /* 上下の余白 */
  display: flex; /* ロゴとナビゲーションを横並びに配置 */
  justify-content: space-between; /* ロゴとナビゲーションを水平に配置 */
  align-items: center;
  /* transition: position 0.1s ease; */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff; /* ヘッダーの背景色を設定 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ドロップシャドウを追加 */
  z-index: 999; /* 他の要素よりも上に表示 */
}

/* ロゴのスタイル */
.logo img {
  width: 70px; /* ロゴの幅 */
  height: auto; /* アスペクト比を維持 */
  margin-left: 30px;
}

header nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ナビゲーションメニューのスタイル */
header nav ul {
  list-style: none; /* 箇条書きの点を削除 */
  padding: 0; /* メニューの内側の余白を削除 */

}

header ul li {
  display: inline; /* メニューアイテムを横並びに配置 */
  margin-right: 100px; /* メニューアイテム間の右側の余白 */
}

header nav ul li a {
  text-decoration: none; /* リンクの下線を削除 */
  color: #000000; /* メニューアイテムのテキストカラー */
  font-weight: bold; /* テキストを太字にする */
  font-size: 22px; /* テキストのフォントサイズ */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
  background-color: #ffffff;
}

.btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #333333;
}

.btn i {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: .5s;
}

.btn i:nth-of-type(1) {
  top: 20px;
}
.btn i:nth-of-type(2) {
  top: 30px;
}

.btn i:nth-of-type(3) {
  top: 40px;
}

.btn.active i:nth-of-type(1) {
  transform:translateY(10px) rotate(45deg);
}
.btn.active i:nth-of-type(2) {
  opacity: 0;
}
.btn.active i:nth-of-type(3) {
  transform:translateY(-10px) rotate(-45deg);
}

.header_container {
  position: fixed;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  background-color: white;
  color: black;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: left 0.3s ease;
}

.header_container.active {
  opacity: 0.8;
  pointer-events: auto;
  left: 0;
}

.btn.active + .header_container {
  left: 0;
}

.item {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  list-style: none;
}

.item a {
  text-decoration: none;
  font-size: 25px;
}

.item ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.item ul li {
  margin-bottom: 50px;
}

h1{
  text-align: center;
  font-size: 35px;
  background-color: #333333;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2列 */
  grid-template-rows: repeat(2, 1fr);    /* 3行 */
  gap: 10px; /* グリッドアイテム間の間隔 */
  margin: 0 120px;
}

.grid-item {
  border: 1px solid #ccc; /* 枠線を追加（任意） */
  padding: 10px; /* 内部の余白（任意） */
  text-align: center; /* 画像を中央に配置（任意） */
}

.grid-item img {
  max-width: 100%; /* 画像をコンテナに合わせる */
  height: auto; /* アスペクト比を維持 */
}


.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

/* オプション: h2 要素にスタイルを追加してセンタリングを強調 */
.table h2 {
  text-align: center;
  margin: 20px 0;
  background-color: #333;
  color: #ffffff;

}

/* オプション: 表にスタイルを追加 */
.table table {
  border-collapse: collapse;
  width: 80%; /* 表の幅を調整 */
  max-width: 400px; /* 最大幅を設定 */
  border: 1px solid #ccc;
}

.table td, .table th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.GoogleMap {
  text-align: center;
  margin: 30px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.GoogleMap h2 {
  text-align: center;
  color: #ffffff;
  background-color: #333;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.Form h2 {
  text-align: center;
  background-color: #333;
  color: #ffffff;

}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #333;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

#reload-button {
  display: block; /* ブロック要素に変更して、中央揃えを有効にする */
  margin: 40px auto; /* 左右の余白を自動的に調整して中央に配置 */
  text-align: center; /* ボタン内のテキストを中央に配置 */
  width: 150px; /* ボタンの幅を適切なサイズに調整 */
}

#loading-screen {
  text-align: center; /* テキストを中央揃えにする */
  margin-top: 20px; /* 上部の余白を調整（必要に応じて変更） */
}

/* styles.css */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.last a{
  color: white;
  text-decoration: none;
}

p {
  font-size: 14px;
}

